<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Remind Me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".InstantActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".AggiornaActivity"
            android:exported="true"
            android:parentActivityName=".GestionePrioritaActivity" />
        <activity
            android:name=".NuovaPriorita"
            android:exported="true"
            android:label="Aggiungi Priorità"
            android:parentActivityName=".GestionePrioritaActivity" />
        <activity
            android:name=".GestionePrioritaActivity"
            android:parentActivityName=".MainActivity2"
            android:exported="true" />
        <activity android:name=".Spese_per_categoria" />
        <activity android:name=".MyPieChart" />
        <activity android:name=".Lista_Spese" />
        <activity android:name=".Creazione_spesa" />
        <activity
            android:name=".Creazione_Categorie"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"
            android:parentActivityName=".MainActivity2"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>